.StartMenu {
    width: 381px;
    height: 427px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: absolute;
    bottom: 32px;
    left: 0px;
    background-color: white;
}